%section.content-header
  %h1
    Rewards :-
    %button.btn.btn-success#reveal_all{type: 'button'}
      %i.fa.fa-fw.fa-gift
      Reveal All
      
  %section.content
    .row
      .col-xs-12
        .box.box-primary
          .box-header
            %h3.box-title
              %span Contributions :-
            .box-tools
              = form_tag(commits_path, method: :get, remote: true) do
                .input-group.input-group-xs
                  = label_tag 'From:'
                  = date_field_tag :from, Date.yesterday
                  = label_tag 'To:'
                  = date_field_tag :to, Date.today
                  = text_field_tag :query, nil, placeholder: 'search'
                  %button.btn.btn-default.btn-sm{type: 'submit'} Go
          
          .box-body.table-responsive#commits
            = render partial: 'commits_table'
