%h1.page-header
  %font Teams 

.row.link
  = form_for Team.new, remote: true do |f|
    .row
      .col-md-3
        = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
      .col-md-6
        = f.select :members, @devs, {}, include_blank: true, class: 'form-control', multiple: true, placeholder: "select members" 
      .col-md-3
        = f.submit "Add Team", class: 'btn btn-success pull-right'
          

.row
  %table.table.table-striped.table-bordered#teams
    %thead
      %tr
        %th Name
        %th Members 
        %th Repos
        %th Active from
        %th Actions
    %tbody     
      - @teams.each do |team|
        %tr{data: {team: team.id.to_s}}
          %td= team.name
          %td= team.member_names
          %td= select_tag :repos, options_for_select(@repos, team.repos.pluck(:name)), multiple: true, class: "form-control"
          %td= team.active_from
          %td
            = link_to team, method: :delete, remote: true, data: { confirm: "Are you sure?" } do
              %span.glyphicon.glyphicon-trash
            = link_to team do
              %span.glyphicon.glyphicon-file

:javascript
  window.repos = #{@repos.to_json}
  set_multiselect();
