%h3.page-header
  %font= "Team #{@team.name } commits" 

.row
  %table.table.table-striped.table-bordered#commits
    %thead
      %tr
        %th Score
        %th Member
        %th Date
        %th Message
        %th Commit url
    %tbody     
      - @commits.each do |commit|
        %tr{data: {commit: commit.id.to_s}, class: score_color(commit)}
          %td.score.commit= select_tag :score, 
            options_for_select((0..10).map, commit.scores.my_score(current_user)), include_blank: "-"
          %td= commit.member.username
          %td= commit.commit_date.strftime("%d/%m/%Y")
          %td= commit.message
          %td= link_to "Details", commit.html_url, target: "_blank"

%h3.page-header
  %font= "Team #{@team.name } Activities" 

.row
  %table.table.table-striped.table-bordered#activities
    %thead
      %tr
        %th Score
        %th Member
        %th Date
        %th Type
        %th Message
        %th url
    %tbody     
      - @activities.each do |activity|
        %tr{data: {activity: activity.id.to_s}, class: score_color(activity)}
          %td.score.commit= select_tag :score, options_for_select((0..10).map.to_a, activity.scores.my_score(current_user)), include_blank: "-"
          %td= activity.member.username
          %td= activity.commented_on.strftime("%d/%m/%Y")
          %td= activity.event_type
          %td= activity.description 
          %td= link_to "Details", activity.ref_url, target: "_blank"

