%h1.page-header
  %font Dashboard
.row.link
  = form_tag index_path do
    .row
      .col-md-2
        = select_tag :category, options_for_select(Commit::COMMIT_TYPE.to_a.collect{|c| [c[1], c[0]] }, @category), class: 'form-control'
      .col-md-3
        = select_tag :round, options_for_select(@rounds.collect{ |r| [r.name, r.id] }, @round), class: 'form-control'
      .col-md-4
        = submit_tag "Search", class: 'btn btn-success'
#chart-container.chart-container

:javascript
  initDashboardChart({
     title: #{@stats[:title].to_json},
     teams: #{@stats[:teams].to_json},
     ytitle: #{@stats[:yaxis_title].to_json},
     series: #{@stats[:graph_series].to_json}
  });

