%h1.page-header
  %font Dashboard

- if current_user
  = render "admin_view"
- else 
  = render "public_view"
#chart-container.chart-container

:javascript
  initDashboardChart({
     startDateEle: "#datepicker1",
     startDate: #{@start_date},
     endDateEle: "#datepicker2",
     endDate: #{@end_date},
     title: #{@stats[:title].to_json},
     teams: #{@stats[:teams].to_json},
     series: #{@stats[:graph_series].to_json},
  });

