%section.content-header
  %h1
    Dashboard
= react_component 'CelebrityBox', { type: 'info', title: '', message: t('user.celebrity_signup') } if current_user && current_user.celebrity
%section.content
  .row
    .col-lg-3.col-xs-6
      = react_component 'PointsTile', { color: 'bg-aqua', title: 'Points', points: format_points(current_user.total_points),
        logo: 'ion-pie-graph', path: user_path(current_user) }
    .col-lg-3.col-xs-6
      = react_component 'PointsTile', { color: 'bg-green', title: 'Commits', points: current_user.commits_count,
        logo: 'ion-stats-bars', path: commits_path}
  .row
    .col-xs-12
      - if current_user.commits_count.equal?(0)
        = render partial: 'callout_box', locals: {type: 'info', title: 'Keep Contributing', message: 'There are no commits.'}
      - else
        = react_component 'UserPointsChart', { xAxis: @xAxis, commits: @commits, points: @points, username: @username }
