%h1.page-header
  %font Dashboard
  - if current_user && current_user.is_judge?
    %button.btn.btn-primary.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      Take Snapshot
.row.link
  .btn-group.pull-right
    = link_to "Scores", dashboard_path("score"), class: "btn btn-default #{check_if_active('score')}"
    = link_to "Commit", dashboard_path("commit"), class: "btn btn-default #{check_if_active('commit')}"
    = link_to "Activity", dashboard_path("activity"), class: "btn btn-default #{check_if_active('activity')}"
#chart-container.chart-container

.modal.fade#myModal
  .modal-dialog
    .modal-content
      = form_tag take_snapshot_path do
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title Take snapshot of #{@current_round.name}
        .modal-body
          .row
            .col-md-2
              %label End date
            .col-md-4
              #datepicker1.input-group.date
                = text_field_tag :end_date, Time.now.strftime("%d/%m/%Y"), class: "form-control", require: true, readonly: true
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary{:type => "submit"} Save

:javascript
  initDashboardChart({
    title: #{@stats[:title].to_json},
    users: #{@stats[:users].to_json},
    ytitle: #{@stats[:yaxis_title].to_json},
    series: #{@stats[:graph_series].to_json}
  });

