%section.content-header
  %h1
    Members of
    = @group.name
    group
    = link_to group_path(@group), class: 'pull-right btn btn-primary' do
      %i.fa.fa-arrow-left
      %b Back
%section.content.group
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive
          .col-xs-12
            = render 'invitation_form' if group_owner?(current_user)
          .col-xs-12
            .panel.panel-default
              .panel-heading Invited Users
              .panel-body
                %table.table
                  %thead
                    %tr
                      %th #
                      %th Name
                      %th Github Handle
                      %th Invitation Sent On
                      %th Actions
                  %tbody#group-invitations
                    = render partial: "invitation", collection: @group.group_invitations.where(accepted_at: nil)
            .panel.panel-default
              .panel-heading Members
              .panel-body
                %table.table
                  %thead
                    %tr
                      %th #
                      %th Name
                      %th Github Handle
                      %th Info
                      %th Actions
                  %tbody#group-members
                    = render partial: "member", collection: @group.members
