%section.content-header
  %h1 
    Repositories
    = link_to github_repos_sync_path, class: 'btn btn-success btn-social pull-right', remote: true do
      %i.fa.fa-refresh
      %b Sync Github Repositories
%section
  .callout-info.col-xs-12
    = render partial: 'alert_box', locals: { type: 'info', title: 'Not seeing a repository?', message: t('repositories.criteria_message')}
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title
            = link_to user_sync_path(current_user), class: 'btn btn-primary pull-left' do
              %i.fa.fa-refresh
              Sync All
          .box-tools
            .input-group.input-group-sm.col-xs-3.pull-right
              - if @repos.any?
                %input#repo-search-box.form-control.pull-right{placeholder: 'Search here...', name: 'search'}
                .input-group-btn
                  %button.btn.btn-default{disabled: true}
                    %i.fa.fa-search
        .box-body.table-responsive
          - if @repos.blank? && current_user.repo_syncing?
            %h3= t('repositories.github_sync')
          - elsif @repos.blank?
            %h3= t('repositories.dont_have_populer_repos')
          - else
            %table#stream_table.table.table-bordered
              %thead
                %tr
                  %th.col-xs-1 #
                  %th.col-xs-2 Name
                  %th.col-xs-2 Owner
                  %th.col-xs-4 Description
                  /
                    %th.col-xs-1 Actions
              %tbody     
        .box-footer.clearfix
          #repos-pagination.pagination-container

%script#template{type: "text/html"}
  %tr
    %td {{ index }}.
    %td 
      <a href={{record.source_url}} target="_blank"> {{ record.name }}
    %td {{record.owner}}
    %td {{record.description}}
    /
      %td
        %a{href: "repositories/{{record._id.$oid}}/sync", class: "btn btn-primary btn-sm"} 
          %i.fa.fa-refresh
          Sync

:javascript
  load_repos(#{@repos.to_json})
