<div class="clearfix">
  <div class="col-md-3 col-md-offset-4">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :github_handle %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.submit "Sign up", class: "btn btn-success" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
