%section.content-header
  %h1
    Repositories:-
    %label.slide
      %input#repo{ checked: "checked", type: "checkbox", data: {toggle: 'toggle', width: 100, height: 34, on: "Required", off: "Ignored"}}
    = link_to '#', class: 'btn btn-primary pull-right', data: { toggle: 'modal', target: '#add_repo .modal' } do
      Add Repo
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title
            %span Repositories:
          .box-tools
            = form_tag(search_admin_repositories_path, method: :get, class: 'col-xs-2 col-md-4 pull-right') do
              .input-group.input-group-sm
                = text_field_tag('q', params[:q], class: 'form-control pull-right', placeholder: 'Repository name')
                .input-group-btn
                  %button.btn.btn-default{type: 'submit'} Go
        .box-body.table-responsive
          - if @repos.any?
            = render 'repos_table'
            .pagination-container
              = paginate @repos, remote: true
#add_repo
  .modal.fade
    = render partial: 'add_repo'
