.modal-dialog
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
        %span{'aria-hidden' => 'true'} &times;
      %h4.modal-title
        Redeem Points
        %b.pull-right.maring-right-fifty= "$1.0 = #{redeem_request_value(current_user, REDEEM['one_dollar_to_points'])} points"
      - unless current_user.active_sponsorer_detail
        .text-center
          #promote
            %strong
              = link_to "To avail a better redemption ratio of $1.0 = 10 points, please Upgrade Your Account", sponsorer_details_path
    .modal-body
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{href: '#github_redeem', data: { toggle: 'tab'} }
              %i.fa.fa-github-alt
              Github
          %li
            %a{href: '#amazon_redeem', data: { toggle: 'tab'} }
              %i.fa.fa-amazon
              Amazon
          %li
            %a{href: '#other_redeem', data: { toggle: 'tab'} } Other
        .tab-content
          .tab-pane.active#github_redeem
            = render 'redeem/github'
          .tab-pane#amazon_redeem
            = render 'redeem/amazon'
          .tab-pane#other_redeem
            = render 'redeem/other'
