.modal-dialog
  .modal-content
    = simple_form_for(@redeem || RedeemRequest.new(user: current_user), url: redeem_path, remote: true) do |f|
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title Redeem Points
      .modal-body
        = f.input :points, hint: 'Info: Minimum redemption limits is 50 points.'
        .form-group.check_boxes_group 
          %label.control-label Gift Cards Merchants
          %div
            = f.collection_radio_buttons :retailer, RETAILERS.collect{|r| [r, r]}, :first, :last
        = f.input :gift_product_url, label: 'Product url from gift shops', placeholder: 'http://github.myshopify.com/products/octodex-sticker-packs',
          hint: 'Info: If you want us to buy some merchandise instead of a gift-card!'
        = f.input :address, as: :text, input_html: { row: 4 }
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
        %button.btn.btn-primary{:type => 'submit'} Redeem
