%section.content-header
  %h1 
    Rounds
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive
          %table.table.table-hover.table-bordered
            %thead
              %tr
                %th.col-xs-5 Name
                %th.col-xs-2 Start
                %th.col-xs-2 End  
                %th.col-xs-1 Status
                %th.col-xs-2 Actions
            %tbody     
              - @rounds.each do |round|
                %tr
                  %td.col-xs-5= round.name
                  %td.col-xs-2= round_date_format(round.from_date)
                  %td.col-xs-2= round_date_format(round.end_date)
                  %td.col-xs-1
                    = round.status 
                  %td.col-xs-2
                    - if round.open?
                      %a{href: admin_round_mark_as_close_path(round._id), class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"}}
                        %i.fa.fa-close
                        Close
          .pagination-container
            = paginate @rounds, params: { controller: 'admin/rounds', action: 'index'}
