/ %script{:src => "https://checkout.stripe.com/checkout.js", :type => "text/javascript", :key => "#{Rails.configuration.stripe[:publishable_key]}"}
= form_for(@sponsorer || SponsorerDetail.new, :url => { :controller => "sponsorer_details", :action => 'create' }, :html => { :multipart => true }, remote: true, authenticity_token: true, format: :js ) do |f|
  = f.hidden_field :sponsorer_type, value: 'INDIVIDUAL'
  .form-group
    = f.label :Upload_Profile_Photo
    = f.file_field :avatar, required: true
  .form-group
    = f.check_box :publish_profile, checked_value: "1", unchecked_value: "0"
    = f.label :publish_profile, "Allow to publish your profile photo as sponsor"
  .form-group
    = f.label :Payment_Plan_yearly_subscription
    = f.select(:payment_plan, [[SPONSOR['individual'].keys[0]+"("+SPONSOR['individual'].values[0].to_s+"$/month)", SPONSOR['individual'].keys[0]],[SPONSOR['individual'].keys[1]+"("+SPONSOR['individual'].values[1].to_s+"$/month)", SPONSOR['individual'].keys[1]],[SPONSOR['individual'].keys[2]+"("+SPONSOR['individual'].values[2].to_s+"$/month)", SPONSOR['individual'].keys[2]]])
  .actions
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
      data: {key: "#{Rails.configuration.stripe[:publishable_key]}", description: "One year subscription", email: current_user.email, image: "https://stripe.com/img/documentation/checkout/marketplace.png", label: "Subscribe"}}
