= simple_form_for(@group) do |f|
  .col-xs-6
    = f.input :name
    = f.input :description, as: :text
    #invitations
      = f.simple_fields_for :group_invitations do |gi|
        = gi.input :user_id, as: :hidden
    .form-group
      %label.text.control-label Search and add users
      .input-group
        = text_field_tag :user_search, "", id: 'search-users', class: 'form-control autocomplete', data: { url: search_users_path, min_length: 2}, autocomplete: 'off', placeholder: 'Search...'
        .input-group-btn
          %button.btn.btn-default#add_group_member{type: 'button', data: { group: @group.persisted? ? 'edit' : 'new'}} 
            %b Add Member
    %button.btn.btn-primary{:type => 'submit'}= @group.persisted? ? 'Update' : 'Create'
  .col-xs-6
    .panel.panel-default
      .panel-heading Users
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th Name
              %th Github Handle
              %th Actions
          %tbody#group-users
            - User.limit(3).each_with_index do |u, i|
              %tr
                %td= i + 1
                %td= u.name
                %td= u.github_handle
                %td
                  = link_to '#', class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?'} do
                    %i.fa.fa-times
%script#group-member-template{type: 'text/html'}
  %tr{ id: "member-{{id}}"}
    %td {{ index }}.
    %td {{ name }} 
    %td {{ github_handle }}
    %td 
      %a.btn.btn-xs.btn-danger{ href: "/group/member/remove/{{id}}", data: { confirm: 'Are you sure?'}}
        %i.fa.fa-time
