%tr
  %td= subscription_counter + 1
  %td= subscription.round.from_date.strftime("%b %Y") 
  %td= subscription.commits_count
  %td= subscription.activities_count
  %td= format_points(subscription.points)
/  
  %td= subscription.goal ? link_to(subscription.goal.name, goals_path) : '-'
:javascript
  userTrendChart(#{@xAxis}, #{@commits}, #{@activities}, #{@points}, #{@username});