%tr
  %td= transaction_counter + 1
  %td= transaction.points
  %td.transaction-detail
    %b
      = (transaction.transaction_type || transaction.description).to_s.humanize
    %small.label{class: transaction.credit? ? 'bg-green' : 'bg-red'}
      = transaction.type.upcase
    - if transaction.coupon_code.present? 
      %h5
        Coupon code:
        %i= transaction.coupon_code
    - if transaction.redeem_transaction?
      %small.label{class: 'bg-primary' }= transaction.redeem_request.retailer.upcase
  %td= transaction.created_at.strftime('%d/%b/%Y %T')
