%section.content-header
  %h1 User Profile
= react_component 'CelebrityBox', { type: 'info', title: '', message: t('user.celebrity_signup') } if current_user && current_user.celebrity
%section.content
  #userform
  .row
    .col-sm-4
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name.titleize
          %p.text-muted.text-center
            - if logged_in_user?
              = render 'twitter_data', user: @user
            = link_to github_url(@user), target: '_blank' do
              %i.fa.fa-github
              = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Points
              %a.pull-right= format_points(@user.total_points)
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Activities
              %a.pull-right= @user.activities_count
            %li.list-group-item
              %b Earned
              %a.pull-right $ #{amount_earned @user}
    .col-sm-8
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li#wallet_tab_link
            = link_to 'Points History', '#wallet', data: { toggle: 'tab' }
          - if logged_in_user?
            %li#wallet_tab_link
              = link_to 'Settings', '#settings', data: { toggle: 'tab' }
        .tab-content
          .tab-pane.active#wallet
            = render 'transactions'
          - if logged_in_user?
            .tab-pane#settings
              = render 'settings'
- if logged_in_user?
  #redeem-modal
    .modal.fade
      = render 'redeem/new_modal'
