%section.content-header
  %h1 User Profile
= render 'celebrity_box' if current_user && current_user.celebrity
%section.content
  .row
    .col-xs-3
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name
          %p.text-muted.text-center
            %i.fa.fa-github
            = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Group
              %a.pull-right= @user.group_name
            %li.list-group-item
              %b Points
              %a.pull-right= format_points(@user.total_points)
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Activities
              %a.pull-right= @user.activities_count
    .col-xs-9
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#rounds_tab_link
            = link_to 'Rounds', '#rounds', data: { toggle: 'tab'}
          %li#wallet_tab_link
            = link_to 'Points History', '#wallet', data: { toggle: 'tab' }
        .tab-content
          .tab-pane.active#rounds
            %table.table.table-bordered
              %thead
                %tr
                  %th.col-xs-1 #
                  %th Name
                  %th Status
                  %th.col-xs-1 Commits
                  %th.col-xs-1 Activities
                  %th.col-xs-1 Points
              %tbody
                = render partial: 'subscription', collection:  @user.subscriptions.order(created_at: :desc)
          .tab-pane#wallet
            %table.table.table-bordered
              %thead
                %tr
                  %th.col-xs-1 #
                  %th.col-xs-3  Points
                  %th Detail
                  %th Date
              %tbody
                = render partial: 'transaction', collection: @user.transactions.order(created_at: :desc)
                %tr
                  %td 
                    %b Total
                  %td{ colspan: 4 }= @user.points  
:javascript                  
  selectTabUsingUrlHash()
