%section.content-header
  %h1 User Profile
= react_component 'CelebrityBox', { type: 'info', title: '', message: t('user.celebrity_signup') } if current_user && current_user.celebrity
%section.content
  #userform
  .row
    .col-sm-4
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name.titleize
          %p.text-muted.text-center
            - if logged_in_user?
              = render 'twitter_data', user: @user
            = link_to github_url(@user), target: '_blank' do
              %i.fa.fa-github
              = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Badge
              - @user.badges.each do |badge, points|
                - if points > 0
                  .badge.pull-right{class: "#{level(points)}", data: {title: badge, content: "#{level(points).capitalize} Level!\n You have contributed #{points} points in #{badge}."}}
                    #{badge}
            %li.list-group-item
              %b Total Points
              %a.pull-right #{format_points(@user.points)}
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Redeemable Amount
              %a.pull-right $ #{format_points(@user.redeemable_points)}
            %li.list-group-item
              %b Earned
              %a.pull-right $ #{amount_earned @user}
          = link_to '#', class: "btn btn-primary btn-block", data: { toggle: 'modal', target: '#redeem-modal .modal' } do
            %b 
              Redeem
              = "($#{format_points(@user.redeemable_points)})"
          %br
          %p 
            %b Note:
            Only contributions made after 1 July, 2018 will be considered for redemption.
            = link_to '#', data: { toggle: 'modal', target: '#info-modal .modal' } do 
              %b Click here for more info
    .col-sm-8
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#wallet_tab_link
            = link_to 'Points History', '#wallet', data: { toggle: 'tab' }
          - if logged_in_user?
            %li#wallet_tab_link
              = link_to 'Settings', '#settings', data: { toggle: 'tab' }
        .tab-content
          .tab-pane.active#wallet
            - if current_user.transactions.where(hidden: false).any?
              = render 'transactions'
            - else
              = render partial: 'callout_box', locals: {type: 'info', title: '', message: 'No records found.'}
          - if logged_in_user?
            .tab-pane#settings
              = render 'settings'
- if logged_in_user?
  #redeem-modal
    .modal.fade
      = render 'redeem/new_modal'
  #info-modal
    .modal.fade
      = render 'info/new_terms_modal'
