%section.content-header
  %h1 User Profile
= react_component 'CelebrityBox', { type: 'info', title: '', message: t('user.celebrity_signup') } if current_user && current_user.celebrity
%section.content
  #userform
  .row
    .col-sm-4
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name.titleize
          %p.text-muted.text-center
            - if logged_in_user?
              = render 'twitter_data', user: @user
            = link_to github_url(@user), target: '_blank' do
              %i.fa.fa-github
              = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Points
              %a.pull-right= format_points(@user.total_points)
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Activities
              %a.pull-right= @user.activities_count
            %li.list-group-item
              %b Earned
              %a.pull-right $ #{amount_earned @user}
          - if logged_in_user?
            - if Offer.is_winner?(current_user) || @user.active_sponsorer_detail || @user.able_to_redeem?
              = link_to '#', class: "btn btn-primary btn-block", data: { toggle: 'modal', target: '#redeem-modal .modal' } do
                %b Redeem Points
            - else
              %span.tool-tip{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Not met the redemption criteria"}
                %span.btn.btn-primary.btn-block{:disabled => "disabled"} Redeem Points

    .col-sm-8
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#rounds_tab_link
            = link_to 'Rounds', '#rounds', data: { toggle: 'tab'}
          %li#wallet_tab_link
            = link_to 'Points History', '#wallet', data: { toggle: 'tab' }
          - if logged_in_user?
            %li#wallet_tab_link
              = link_to 'Settings', '#settings', data: { toggle: 'tab' }
        .tab-content
          .tab-pane.active#rounds
            - if @show_transactions
              = render partial: 'share_button'
            .row
              = react_component 'UserPointsChart', { xAxis: @xAxis, commits: @commits, activities: @activities, points: @points, username: @username }
            = react_component 'SubscriptionsHistory', { user_id: @user.id }
          .tab-pane#wallet
            = render 'transactions'
          - if logged_in_user?
            .tab-pane#settings
              = render 'settings'
          %b
            - if logged_in_user?
              Info:
              %i= t('transaction.points_credit_info')
              %br
                %br
                  %b
                    = t('transaction.free_plan')
                    %i= t('transaction.free_plan_info')
              %p
                %b
                  = t('transaction.paid_plan')
                  %i= t('transaction.paid_plan_info')


- if logged_in_user?
  #redeem-modal
    .modal.fade
      = render 'redeem/new_modal'
