%section.content-header
  %h1 User Profile
%section.content
  .row
    .col-xs-3
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name
          %p.text-muted.text-center
            %i.fa.fa-github
            = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Level
              %a.pull-right= @user.level
            %li.list-group-item
              %b Points
              %a.pull-right= @user.total_points
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Activities
              %a.pull-right= @user.activities_count
    .col-xs-9
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#rounds_tab_link
            %a{href: '#rounds', data: { toggle: 'tab'}} Rounds 
          %li#wallet_tab_link
            %a{href: '#wallet', data: { toggle: 'tab'}} Points History 
        .tab-content
          .tab-pane.active#rounds
            %table.table.table-bordered
              %thead
                %tr
                  %th.col-xs-1 #
                  %th Name
                  %th Status
                  %th.col-xs-1 Commits
                  %th.col-xs-1 Activities
                  %th.col-xs-1 Points
              %tbody
                - @user.subscriptions.order(created_at: :desc).each_with_index do |s, i|
                  %tr
                    %td= i+1
                    %td= s.round.name 
                    %td
                      %small.label{class: s.round.open? ? 'bg-green' : 'bg-yellow'}
                        = s.round.status
                    %td= s.commits_count
                    %td= s.activities_count
                    %td= s.points
          .tab-pane#wallet
            %table.table.table-bordered
              %thead
                %tr
                  %th.col-xs-1 #
                  %th.col-xs-3  Points
                  %th Detail
                  %th Date
              %tbody
                - @user.transactions.order(created_at: :desc).each_with_index do |t, i|
                  %tr
                    %td= i+1
                    %td= t.points
                    %td= t.type
                    %td= t.created_at.strftime('%D %T')
                %tr
                  %td 
                    %b Total
                  %td{ colspan: 4 }= @user.points  
:javascript                  
  selectTabUsingUrlHash()
