%section.content-header
  %h1 User Profile
%section.content
  .row
    .col-xs-3
      .box.box-primary
        .box-body.box-profile
          = image_tag avatar_url(@user), class: 'profile-user-img img-responsive img-circle', alt: @user.name
          %h3.profile-username.text-center= @user.name
          %p.text-muted.text-center
            %i.fa.fa-github
            = @user.github_handle
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Points
              %a.pull-right= @user.points
            %li.list-group-item
              %b Commits
              %a.pull-right= @user.commits_count
            %li.list-group-item
              %b Activities
              %a.pull-right= @user.activities_count
    .col-xs-9
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{href: '#rounds', data: { toggle: 'tab'}} Rounds 
          %li
            %a{href: '#wallet', data: { toggle: 'tab'}} Points History 
        .tab-content
          .tab-pane.active#rounds
          .tab-pane.active#wallet
