.jumbotron
  .container
    .row
      = image_tag 'logo-home.png'
    .row
      .box-header
        .col-xs-12
          %h4
            %span.text
              = number_with_delimiter(User.contestants.count )
              users
            have contributed
            %span.text
              = number_with_delimiter(Transaction.total_points_before_redemption)
              points
            and
            %span.text
              = "$#{number_with_delimiter(RedeemRequest.total_points_redeemed/REDEEM['one_dollar_to_points'])}"
            has been rewarded back to
            %span.text
              = number_with_delimiter(RedeemRequest.where(status: true).count)
              contributors!
    .row
      %a.btn.btn-primary.btn-lg{  href: omniauth_authorize_path(:user, :github) }
        %span.fa.fa-github
        Sign in with Github
      %a.btn.btn-success.btn-lg{  href: "#sponsor"}
        %span
        Reward Contributors!
    .row.marketing
      .col-md-12.col-lg-offset-1.col-md-offset-1
        - INFO['home'].each_slice(2) do |data|
          .col-lg-5.col-md-5
            = render partial: 'info', collection: data, as: 'info'
    .row.marketing
      - if @sponsorer_organizations.count >= SPONSORER_THRESHOLD['organization']
        = render partial: 'subscribers_list', locals: {header: "Organization Sponsors", sponsorer_group: @sponsorer_organizations}
      - if @sponsorer_users.count >= SPONSORER_THRESHOLD['individual']
        = render partial: 'subscribers_list', locals: {header: "Individual Sponsors", sponsorer_group: @sponsorer_users}
    .row.marketing#sponsor
      = render 'sponsorer_benefits'
    - if @size > 0
      .row.marketing
        = render partial: 'featured_groups'
    .row
      = render partial: 'trend'
