.jumbotron
  .container
    .row
      = image_tag 'logo-home.png'
    .row
      .box-header
        .col-xs-12
          %h4
            %span.text
              = number_with_delimiter(User.contestants.count )
              users
            have contributed
            %span.text
              = number_with_delimiter(Transaction.total_points_before_redemption)
              points
            and
            %span.text
              = "$#{number_with_delimiter(RedeemRequest.total_points_redeemed/REDEEM['one_dollar_to_points'])}"
            has been rewarded back to
            %span.text
              = number_with_delimiter(RedeemRequest.where(status: true).count)
              contributors!
    .row
      %a.btn.btn-primary.btn-lg{  href: omniauth_authorize_path(:user, :github) }
        %span.fa.fa-github
        Sign in with Github
      %a.btn.btn-success.btn-lg{  href: "#sponsor"}
        %span
        Reward Contributors!
    .row.marketing#sponsor
      = render 'sponsorer_benefits'
    - if @size > 0
      .row.marketing
        = render partial: 'featured_groups'
    .row
      = render partial: 'trend'
