%section.content-header
  %h1 
    Leaderboard
%section.content
  .row
    .col-xs-12
      .box
        .box-body.table-responsive.no-padding
          %table.table.leaderboard
            %tbody
              %tr
                %th.col-xs-2 #
                %th User
                %th Commits
                %th Activities
                %th Points
              - @users.each_with_index do |user, i|
                %tr
                  %td
                    %span.rank #{i + 1}.
                    = image_tag avatar_url(user), widht: 40, height: 40, class: 'img-circle'
                  %td
                    = link_to user.github_handle, user_path(user), class: 'users-list-name'
                  %td= user.commits_count
                  %td= user.activities_count
                  %td= user.total_points
