%section.content-header
  %h1= "Trend for #{current_round.name} #{@goal.name}"
%section.content
  .row
    .col-xs-12
      .box
        .box-body.no-padding
          #points-chart-container
    .col-xs-12.text-center.goal-trend-btns
      - Goal.asc(:points).each do |g|
        = link_to trend_path(g), class: 'btn btn-success' do
          %i.fa.fa-line-chart
          =  "Trend for #{g.name}"

          
:javascript
  showPointsChart('#{current_round.name}', #{@points.to_json}, #{@user_points || -100 });
