.box.box-widget.widget-cc-2
  .widget-cc-header.bg-yellow
    .widget-cc-image.group-logo
      = image_tag 'logo_50pxh.png'
    %h3.widget-cc-title
      = link_to @group.name, group_path(@group), target: '_blank'
    %h5.widget-cc-desc 
      Powered by 
      = link_to 'CodeCuriosity', 'http://codecuriosity.org', target: '_blank'
  .widget-rounds
    - @rounds.each do |round|
      = link_to round.from_date.strftime('%b %y'), group_widget_path(@group, round) , class: "btn btn-xs btn-#{@current_round == round ? 'primary' : 'default'} cc-round"
  .box-footer.no-padding
    %ul.nav.nav-stacked
      = render(partial: 'subscription', collection: @group.leaders(@current_round)) || render('no_leaders')
