.box.box-widget.widget-cc-2
  .widget-cc-header.bg-yellow
    .widget-cc-image
      %img.img-circle{:alt => @repo.organization.name, :src => @repo.organization.avatar_url}/
    %h3.widget-cc-title
      = link_to @repo.name, @repo.source_url, target: '_blank'
    %h5.widget-cc-desc 
      Powered by 
      = link_to 'CodeCuriosity', 'http://codecuriosity.org', target: '_blank'
  .widget-rounds
    - @rounds.limit(3).each do |round|
      = link_to round.from_date.strftime('%b %y'), repo_widget_path(@repo, round) , class: "btn btn-xs btn-#{@current_round == round ? 'primary' : 'default'} cc-round"
  .box-footer.no-padding
    %ul.nav.nav-stacked
      = render(partial: 'user', collection: @repo.leaders(@current_round), as: :leader) || render('no_leaders')
