= simple_form_for([:admin, @sponsor]) do |f|
  .col-xs-6
    = f.input :name
    = f.input :is_individual, as: :boolean
    = f.simple_fields_for :budgets do |p|
      - unless p.object.new_record?
        = p.input :id, as: :hidden
      = p.input :start_date, input_html: { class: 'datepicker'}
      = p.input :end_date, input_html: { class: 'datepicker' }
      = p.input :amount, as: :float
      = p.input :is_all_repos, as: :boolean, label: 'All Repositories', input_html: { checked: true, id: 'is_all_repos'}
      = p.select :repository_ids, [], {}, {multiple: true, disabled: true, id: 'budget_repo_ids'}
    = f.submit id: 'create_sponsor', class: 'btn btn-primary' do
      = @sponsor.persisted? ? 'Update' : 'Create'
    = link_to "Cancel", :back, class: 'btn btn-primary'
