%section.content-header
  %h1
    Budgets :-

%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          %h3.box-title
            %span
          .box-tools

        .box-body.table-responsive
          %table.table.table-hover.table-bordered
            %thead
              %tr
                %th.col-xs-1 Start Date
                %th.col-xs-1 End Date
                %th.col-xs-1 Amount
                %th.col-xs-1 Day Amount
                %th.col-xs-2 Repositories

            %tbody#sponsors
              - @budgets.each do |budget|
                %tr
                  %td= budget.start_date.strftime('%d %B %y')
                  %td= budget.end_date.strftime('%d %B %y')
                  %td= budget.amount
                  %td= budget.day_amount.round(2)
                  %td
                    - if budget.is_all_repos
                      = 'All Repositories'
                    - else
                      = budget.repositories.collect{|repo| repo.name}.join(', ')
