%h4= "Hello, #{@user.name}"
%p
  Your goal for this month is
  = link_to @subscription.goal.name, goals_url 
%p
  - if @subscription.goal_achived?
    You have achived your goal before time. Bravo!
  - else
    Keep It up. Still you have time. 
    = "You are only #{@subscription.goal.points - @subscription.points} required to achive your goal"
