%h4= "Hello, #{@user.name}"
%p
  Your goal for this month is
  = link_to (@subscription.try(:goal) || @subscription.set_default_goal).name, goals_url
%p
  - if @subscription.goal_achived?
    You have achieved your goal before time. Bravo! Do remember to
    = link_to "redeem points", user_url(@user)
    ! Well done.
  - elsif @subscription.points == 0
    Wake up and smell the coffee! Do your bit for the community please!
  - else
    Keep going, you still have some time!
    = "You are only #{@subscription.goal.points - @subscription.points} points away from reaching your goal!"
