%h4= "Hello #{@user.name},"
%p
  = @message
%p
  - if @user.points > 100
    = "You have #{@user.points} points! Why don't you redeem some?"
    %p
      %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-attributes" => "%7B%22dropped%22%3Atrue%2C%22borderradius%22%3A6%2C%22buttonpadding%22%3A%2212%2C18%2C12%2C18%22%2C%22text%22%3A%22Your%20Bulletproof%20Button%22%2C%22alignment%22%3A%22center%22%2C%22fontsize%22%3A16%2C%22url%22%3A%22%22%2C%22height%22%3A%22%22%2C%22width%22%3A%22%22%2C%22containerbackground%22%3A%22%23ffffff%22%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22buttoncolor%22%3A%22%231188e6%22%2C%22textcolor%22%3A%22%23ffffff%22%2C%22bordercolor%22%3A%22%231288e5%22%7D", "data-type" => "button", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
        %tr
          %td{:align => "center", :bgcolor => "#ffffff", :style => "padding: 10px 0px 0px 0px;"}
            %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center", :bgcolor => "#1188e6", :style => "-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; font-size: 16px;"}
                  = link_to "Redeem Points", user_url(@user, anchor: "wallet"), class: "bulletproof-button", style: "height: px; width: px; font-size: 16px; line-height: px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; padding: 12px 18px 12px 18px; text-decoration: none; color: #ffffff; text-decoration: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #1288e5; display: inline-block;", target: "_blank"
  - else
    %p You have earned #{@user.points} till now. You need only #{100 - @user.points} more points to start redeeming them for rewards. Go! Go! Go!
    %p
      For more details on your points, check out your
      = link_to "CodeCuriosity profile", user_url(@user)
