%h4 Hello Admin,
%p
  We have a new subscription. The subscriber details are as below:
%p
  Name:
  = link_to @user.name, user_url(@user)
%p
  = "Plan: #{@plan.camelize}"
%p
  = "Amount: $#{@amount} "
