%tr
  %td= link_to redeem_request.user.github_handle, user_path(redeem_request.user), target: '_blank'
  %td
    - if redeem_request.retailer_other?
      = link_to redeem_request.retailer.upcase, redeem_request.gift_product_url, target: '_blank'
    - else
      = redeem_request.retailer.upcase
  %td= redeem_request.points
  %td= redeem_request.created_at.strftime('%D %T')
  %td= redeem_request.coupon_code
  %td= redeem_request.address
  %th= redeem_request.status ? 'Closed' : 'Open'
  %td
    = link_to 'Set Coupon/Points', '#', class: 'btn btn-xs btn-primary', data: { toggle: 'modal', target: '#coupon-code-modal', url: admin_redeem_request_path(redeem_request), code: redeem_request.coupon_code, comment: redeem_request.comment, retailer: redeem_request.retailer, status: redeem_request.status, points: redeem_request.points }
    -if @status == 'true'
      = link_to '', admin_redeem_request_path(redeem_request), class: 'glyphicon glyphicon-trash', data:{method: 'delete', confirm: 'Are you sure?'}
