%section.content-header
  %h1
    Redeem Requests
    %span.badge $ #{amount_for_store}
    %span.dropdown
      %button.btn.btn-default.dropdown-toggle#store{"data-toggle" => "dropdown", type: "button"} By Store
      %ul.dropdown-menu
        - REDEEM['amazon_stores'].each do |store|
          %li
            =link_to "#{store} $#{amount_for_store(store)}", admin_redeem_requests_path(store: store), class: 'closeDropdown', remote: true
        %li
          =link_to "All", admin_redeem_requests_path, class: 'closeDropdown', remote: true

    %label.slide
      %input.check#sponsorer{checked: 'checked', name: 'is_sponsorer', type: 'checkbox', data: {toggle: 'toggle', width: '100', height: '40', on: 'Free', off: 'Paid'}}
      %input.check#redeem{checked: 'checked', name: 'status', type: 'checkbox', data: {toggle: 'toggle', width: '100', height: '40', on: 'Status Open', off: 'Status Close'}}
      #console-event
    = link_to download_admin_redeem_requests_path(:status => "true"), class: "btn btn-primary glyphicon glyphicon-download" do
      %b Completed
    = link_to download_admin_redeem_requests_path(:status => "false"), class: "btn btn-primary glyphicon glyphicon-download" do
      %b Active

%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive#user_table
          = render partial: 'redeem'
.modal.fade#coupon-code-modal
  .modal-dialog
    .modal-content
      = simple_form_for(RedeemRequest.new, url: '#', method: 'put') do |f|
        .modal-header
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Redeem Request
        .modal-body
          = f.input :coupon_code
          = f.input :points
          = f.input :comment, as: :text, input_html: { row: 4 }
          = f.input :status, as: :select, collection: { 'Closed' => 'true', 'Open' => 'false'}, include_blank: false
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
          %button.btn.btn-primary{:type => 'submit'} Save
