%section.content-header
  %h1
    Redeem Requests
    %span.badge $ #{total_capital_of_points}
    %label.slide
      %input.check#redeem{checked: 'checked', name: 'status', type: 'checkbox', data: {toggle: 'toggle', width: '100', height: '40', on: 'Status Open', off: 'Status Close'}}
      #console-event
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive#user_table
          = render partial: 'redeem'
.modal.fade#coupon-code-modal
  .modal-dialog
    .modal-content
      = simple_form_for(RedeemRequest.new, url: '#', method: 'put') do |f|
        .modal-header
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Redeem Request
        .modal-body
          = f.input :coupon_code
          = f.input :points
          = f.input :comment, as: :text, input_html: { row: 4 }
          = f.input :status, as: :select, collection: { 'Closed' => 'true', 'Open' => 'false'}, include_blank: false
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
          %button.btn.btn-primary{:type => 'submit'} Save  

/:coffeescript/@redeem_requests = #{@redeem_requests}