%section.content-header
  %h1
    Redeem Requests
    %span.badge $ #{amount_for_store}
    %br
    %br
  %label.slide
  = link_to download_admin_redeem_requests_path(:status => "true"), class: "btn btn-primary glyphicon glyphicon-download" do
    %b Completed
  = link_to download_admin_redeem_requests_path(:status => "false"), class: "btn btn-primary glyphicon glyphicon-download" do
    %b Active

  = form_for(RedeemRequest.new, url: admin_redeem_requests_path, method: 'get', remote: true, html: {id: 'filter'}) do |f|

    = f.select :store, stores, {}, {class: "btn btn-primary"}

    = f.select :user, users, {}, {class: "btn btn-primary"}

    = f.select :status, status, {}, {class: "btn btn-primary"}

%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body.table-responsive#user_table
          = render partial: 'redeem'
.modal.fade#coupon-code-modal
  .modal-dialog
    .modal-content
      = simple_form_for(RedeemRequest.new, url: '#', method: 'put') do |f|
        .modal-header
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title Redeem Request
        .modal-body
          = f.input :coupon_code
          = f.input :points
          = f.input :comment, as: :text, input_html: { row: 4 }
          = f.input :status, as: :select, collection: { 'Closed' => 'true', 'Open' => 'false'}, include_blank: false
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'} Cancel
          %button.btn.btn-primary{:type => 'submit'} Save
