- @commits.each do |commit|
  %tr
    %td= commit.commit_date.strftime("%d %B %y")
    %td= commit.user&.name
    %td= commit.repository&.name
    %td
      = commit.message
      %br
      = link_to commit.html_url, class: 'btn btn-xs' do
        %i.fa.fa-fw.fa-share
        View
    %td
      - if commit.score.nil?
        %a.scores.fa.fa-hourglass-2
      - else
        = commit.score.to_i
    %td
      - if commit.non_rewardable_commit?
        %span -
      - else
        - if commit.reward.nil?
          %a.rewards.fa.fa-hourglass-2
        - else
          = "$ #{commit.reward}"
