%section.content-header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand
          Commits
      %p.navbar-text.navbar-right.pull-right
        Reward:
        %span.badge= "$#{@commits.sum(:reward)}"
        &nbsp&nbsp
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header
          .box-tools
            = form_tag(admin_commits_path, method: :get, remote: true, id: 'filters') do
              %table
                %tr
                  %td= date_field_tag :from, Date.today.beginning_of_month
                  %td= date_field_tag :to, Date.today
                  %td= text_field_tag :query, nil, placeholder: 'Name of User, repository or description'
                  %td= submit_tag 'Go'
        .box-body.table-responsive#commits
          - if @commits.any?
            = render partial: 'commits_table'
          - else
            = 'No commits'
