%section.content-header
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand
          Commits
      %p.navbar-text.navbar-right.pull-right
        Reward:
        %span.badge= "$#{@commits.sum(:reward)}"
        &nbsp&nbsp
%section.content
  .row
    .col-xs-12
      = form_tag(admin_commits_path, method: :get, remote: true, id: 'filters', class: 'form-inline') do
        = date_field_tag :from, Date.today.beginning_of_month, class: 'form-control'
        = date_field_tag :to, Date.today, class: 'form-control'
        = text_field_tag :query, nil, placeholder: 'Name of User, repository or description', class: 'form-control'
        = submit_tag 'Go', class: 'btn btn-default'
      %br 
      %br
      %br
      .box.box-primary
        .box-body.table-responsive#commits
          - if @commits.any?
            = render partial: 'commits_table'
          - else
            = 'No commits'
