.col-xs-12.col-sm-6.col-md-4
  %ul.goals{class: "g-#{color(goal_counter)} #{selected_goal?(goal) && 'selected'}"}
    %li
      .row
        %i.fa.fa-trophy.icon
      %big= goal.name
      %li.desc
        = raw(goal.info['description'] % { points: points_format("#{goal.points} points") })
        %h5
          = link_to 'What are points?', faq_path(anchor: 'what-are-points'), class: 'info', target: '_blank'
      %li.desc
        Meet the goal and earn 
        %span.points= "#{goal.bonus_points} more"
        bonus points. 
      %li.redeem
        = raw(goal.info['redeem_text'])
      %li
        = !current_user.current_subscription.goal_id ? (link_to 'Set As Goal', set_goal_users_path(goal), class: 'button') : (link_to "Set As Next Month's Goal", set_goal_users_path(goal), class: 'button')  
  - if selected_goal?(goal)
    %h4.next-month-goal Current Month's Goal
  - if current_user.goal == goal
    %h4.next-month-goal Next Month's Goal

