%tr
  %td= link_to user.name, user_path(user), target: '_blank'
  %td= link_to user.github_handle, github_url(user), target: '_blank'
  %td= user.points
  %td= user.email
  %td= user.created_at.strftime('%d/%m/%Y %T')
  %td= check_box_tag user.id, 'blocked', user.blocked, { id: "#{user.id}", class: 'block'}
  %td
    %a{href: admin_user_login_as_path(user), class: "btn btn-primary btn-sm", data: {confirm: "Are you sure?"}}
      %i.fa.fa-user
      Login as
    %a{href: admin_user_path(user.id), class: "btn btn-danger btn-sm", data: {method: 'delete', confirm: "Are you sure? This action is irreversible"}}
      %i.fa.fa-trash

