%tr
  %td= link_to user.name, user_path(user), target: '_blank'
  %td= link_to user.github_handle, github_url(user), target: '_blank'
  %td= user.points
  %td= user.email
  %td= user.created_at.strftime('%d/%m/%Y %T')
  %td 
    - if user.is_judge?
      %a{href: admin_user_mark_as_judge_path(user, flag: false), class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"}}
        %i.fa.fa-close
          Remove as judge
    - else  
      %a{href: admin_user_mark_as_judge_path(user, flag: true), class: "btn btn-primary btn-sm", data: {confirm: "Are you sure?"}}
        %i.fa.fa-check
          Mark as judge
    %a{href: admin_user_login_as_path(user), class: "btn btn-primary btn-sm", data: {confirm: "Are you sure?"}}
      %i.fa.fa-user
      Login as
    %a{href: admin_user_path(user.id), class: "btn btn-danger btn-sm", data: {method: 'delete', confirm: "Are you sure? This action is irreversible"}}
      %i.fa.fa-trash