%tr{data: {activity: activity.id.to_s}}
  = render partial: 'activities/score_cell', locals: { resource: activity }
  %td= activity.commented_on.strftime("%d/%b/%Y")
  %td= activity.repo
  %td= activity.event_type
  %td
    -if activity.description.to_s.split(/\W+/).length > 10
      .shorten_read
        = markdown(activity.description)
    -else
      = markdown(activity.description)
  %td
    = link_to activity.ref_url, target: '_blank', class: 'btn btn-block btn-default btn-xs' do
      %i.fa.fa-fw.fa-share
      Open