%tr{data: {activity: activity.id.to_s}}
  %td.score.commit= activity.scores.any? ? 'Reviewed' : 'In review'
  %td= activity.commented_on.strftime("%d/%m/%Y")
  %td= activity.repo
  %td= activity.event_type
  %td= activity.description 
  %td
    = link_to activity.ref_url, target: '_blank', class: 'btn btn-block btn-default btn-xs' do
      %i.fa.fa-fw.fa-share
      Open
