%tr{data: {commit: commit.id.to_s}}
  %td.score.commit= commit.scores.any? ? 'Reviewed' : 'In review'
  %td= commit.commit_date.strftime('%d/%m/%Y')
  %td= commit.repository.name
  %td= commit.message
  %td
    = link_to commit.html_url, target: '_blank', class: 'btn btn-block btn-default btn-xs' do
      %i.fa.fa-fw.fa-share
      Open
