%tr{data: {commit: commit.id.to_s}}
  %td.score.commit
    = commit.auto_score
    - if commit.auto_score.blank?
      In Review
    - else
      %ul.score-bar
        - commit.auto_score.times do |i|
          %li.score{class: score_css_class(commit.auto_score)}
  %td= commit.commit_date.strftime('%d/%m/%Y')
  %td= commit.repository.name
  %td= commit.message
  %td
    = link_to commit.html_url, target: '_blank', class: 'btn btn-block btn-default btn-xs' do
      %i.fa.fa-fw.fa-share
      Open
