%section.content-header
  %h1 
    Contributions
    = link_to user_sync_path(current_user), class: "btn btn-primary btn-social pull-right", remote: true do
      %i.fa.fa-refresh
      %b Sync All
%section.content
  .row
    .col-xs-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#commits_tab_link
            %a{href: '#commits_tab', data: { toggle: 'tab' }} Commits
          %li#activities_tab_link
            %a{href: '#activities_tab', data: { toggle: 'tab' }} Activities
        .tab-content
          .tab-pane.active#commits_tab
            .table-responsive.no-padding#commits
              - if @commits.any?
                = render 'commits_table'
              - else
                = render partial: 'callout_box', locals: { type: 'success', title: 'Keep Contributing', message: 'There are no commits for this round.'} 
          .tab-pane#activities_tab
            .table-responsive.no-padding#activities
              - if @activities.any?
                = render 'activities_table'
              - else
                = render partial: 'callout_box', locals: { type: 'success', title: 'Keep Contributing', message: 'There are no activities for this round.'} 
                
:javascript
  selectTabUsingUrlHash()
