%section.content-header
  %h1 
    Contributions
    = link_to sync_user_path(current_user), class: 'btn btn-success btn-social pull-right', remote: true do
      %i.fa.fa-refresh
      %b Sync Contributions
    %a.btn.pull-right{href:"#", data: {toggle: 'tooltip', title: t('repositories.criteria_message'), placement: "bottom", trigger: "hover"}}
      Not seeing a commit?
%section.content
  .row
    .col-xs-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active#commits_tab_link
            %a{href: '#commits_tab', data: { toggle: 'tab' }} Commits
          %li#activities_tab_link
            %a{href: '#activities_tab', data: { toggle: 'tab' }} Activities
          %li.pull-right.scoring-color-info
            %b Info:
            %span.score-bar
              Zero score color:
              %span.score.zero 
        .tab-content
          .tab-pane.active#commits_tab
            .table-responsive.no-padding#commits
              - if @commits.any?
                = render 'commits_table'
              - else
                = render partial: 'callout_box', locals: { type: 'success', title: 'Keep Contributing', message: 'There are no commits for this period.'} 
          .tab-pane#activities_tab
            .table-responsive.no-padding#activities
              - if @activities.any?
                = render 'activities_table'
              - else
                = render partial: 'callout_box', locals: { type: 'success', title: 'Keep Contributing', message: 'There are no activities for this period.'} 
