.post.judging-row
  .user-block
    %span.info-links
      = link_to github_url(commit.user), target: '_blank' do
        %i.fa.fa-user
        = commit.user.github_handle
      = link_to commit.html_url, target: '_blank' do
        %i.fa.fa-database
        = commit.repository.name
      = link_to commit.html_url, target: '_blank' do
        %i.fa.fa-github-alt
        View
    %span.time.pull-right
      = commit.commit_date.strftime('%H:%m, %d %b %Y')
  %p= commit.message
  %ul.list-inline
    %li.rating-control.br-theme-bars-square{ data: { url: rate_judging_index_path('commit', commit.id) }}
      = select_tag :points, options_for_select(COMMIT_RATINGS, commit.judge_rating(current_user) || commit.auto_score), include_blank: 'NR' 
    %li.pull-right.comments
      = link_to '#', class: 'link-black text-sm show-comments', data: { id: commit.id.to_s, url: comments_judging_index_path('commit', commit.id) } do
        %i.fa.fa-comments-o.margin-r-5
        %span{id: "comments_count_#{commit.id}"}
          Comments 
          (#{commit.comments_count})
  .comments{id: "comments_#{commit.id.to_s}"}
    = render partial: 'comments/form', locals: { resource: commit }
