%header.main-header
  %a.logo{:href => '/'}
    %span.logo-mini
      %b.code> C
      %b.curiocity> C
    %span.logo-lg
      = image_tag 'logo_50pxh.png', height: 35
  %nav.navbar.navbar-static-top{:role => 'navigation'}
    %a.sidebar-toggle{'data-toggle' => 'offcanvas', :href => '#', :role => 'button'}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.tasks-menu
          %a.dropdown-toggle{ data: { toggle: 'dropdown' }}
            %i.fa.fa-calendar
            Rounds : 
            %span.current-round= current_round.name
          %ul.dropdown-menu
            %li.header Total rounds #{Round.count}
            %li
              %ul.menu
                - Round.all.each do |round|
                  %li
                    = link_to "#{round.name} : #{round.status}", change_round_path(round)
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
            %img.user-image{:alt => current_user.name, :src => avatar_url}/
            %span.hidden-xs= current_user.name.titleize
          %ul.dropdown-menu
            %li.user-header
              %img.img-circle{:alt => current_user.name, :src => avatar_url}/
              %p
                = current_user.name.titleize 
                %small Github - #{current_user.github_handle}
            %li.user-body
              .row
                .col-xs-4.text-center
                  = link_to 'Subscription', '#' 
                .col-xs-4.text-center
                  = link_to 'e-Wallet', user_path(current_user, anchor: 'wallet' )
                .col-xs-4.text-center
                  = link_to 'Rounds', user_path(current_user, anchor: 'rounds')
            %li.user-footer
              .pull-left
                = link_to "Profile" , user_path(current_user), class: "btn btn-default btn-flat"
              .pull-right
                = link_to 'Sign out', destroy_user_session_path,  class: 'btn btn-default btn-flat'
        %li
          %a{href: '#'}
            %i.fa
