%header.main-header
  %a.logo{:href => '/'}
    %span.logo-mini
      %b.code> C
      %b.curiocity> C
    %span.logo-lg
      = image_tag 'logo_50pxh.png', height: 35
  %nav.navbar.navbar-static-top{:role => 'navigation'}
    %a.sidebar-toggle{'data-toggle' => 'offcanvas', :href => '#', :role => 'button', style: "padding-left: 11px; padding-right: 12px;"}
    %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li
          = link_to faq_path do
            %i.fa.fa-question
            FAQS
        %li
          = link_to trend_path do
            %span.fa.fa-line-chart
            Trends
        - if current_user
          = render 'user_nav'
        - else
          %li
            = link_to omniauth_authorize_path(:user, :github) do
              %span.fa.fa-github
              Sign in with GitHub
