%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        %img.img-circle{:alt => current_user.name, :src => avatar_url}/
      .pull-left.info
        %p=current_user.name.titleize
        %a{href: github_url, target: '_blank'}
          %i.fa.fa-github
            = current_user.github_handle
    %ul.sidebar-menu
      %li{class: is_active('index', 'dashboard')}
        = link_to root_path do
          %i.fa.fa-dashboard
          %span Dashboard
      %li{class: is_active('index', 'repositories')}
        = link_to repositories_path do
          %i.fa.fa-database
          %span Repositories
      %li{class: is_active('index', 'activities')}
        = link_to activities_path do
          %i.fa.fa-cubes
          %span Contributions
      - if current_user.is_judge
        %li{class: is_active('index', 'judging')}
          = link_to judging_path do
            %i.fa.ion-ribbon-b
            %span Judging
      - if current_user.is_admin?
        %li.treeview
          %a{href: "#"}
            %i.fa.fa-gears
            %span Admin
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              %a{href: admin_repositories_path}
                %i.fa.fa-circle-o
                %span Repositories
            %li
              %a{href: admin_users_path}
                %i.fa.fa-circle-o
                %span Users
            %li
              %a{href: admin_judges_path}
                %i.fa.fa-circle-o
                %span Judges
            %li
              %a{href: admin_rounds_path}
                %i.fa.fa-circle-o
                %span Rounds
